.Title {
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

.Tcontent {
    width: 100%;
    height: auto;
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.yellowT {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;

}