.greenBtn {
    width: auto;
    height: 40px;
    background: #1A3E3E;
    border: 1px solid #1A3E3E;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}