@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap";


body {
  padding: 0px;
  margin: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

#wrapp img {
  width: 100%;
}

.wrappText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 530px;
  padding-right: 10px;
}

#telegram {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/socialM/ic_baseline-telegram.svg);
}

#vk {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/socialM/entypo-social_vk-with-circle.svg);
}

#pinterest {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/socialM/mdi_pinterest.svg);
}

#skype {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/socialM/mdi_skype.svg);
}